body{
   height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
  }

.top-bar {
  background-color: #4c0034;
  padding: 8px 12px;
  }

.top-bar p{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}  
.header {
  width: 100%;
  justify-content: space-between;
  padding: 25px 5px;
  bottom: 0;
  display: flex;
}

.header li {
  text-align: right;
  padding: 15px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 5px;
  margin-right: 35px;
}

.header a{
  color: black;
}
.header ul {
  display: flex;
  list-style: none;
}

.header-right {
  font-size: 24px;
  padding: 12px;
}

.main{
  margin-bottom: 45px;
}
.slider{
  background-image: url("https://cdn.shopify.com/s/files/1/0172/9639/2246/files/Fresh_Chemistry_Blake_Orange_HomepageTest.jpg?v=1601474530");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}
.hero-image {
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text{
  text-align:left;
}
.footer{
  position: absolute;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
} 


.main-footer {
	background-color: #f7f7f7;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-left{
  vertical-align: baseline;
  display: inline;
}

.footer-center ul{
    list-style: none;
    color: black;
}